@using SistemaPasajes.Models
@model List<UsuarioCLS>


@{
    ViewBag.Title = "Index";
    var listaPersona = (List<SelectListItem>)ViewBag.listaPersona;
    var listaRol = (List<SelectListItem>)ViewBag.listaRol;
}

<h2>Index</h2>

<!-- Button trigger modal - Bootstrap -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar
</button>

@using (Ajax.BeginForm("Filtrar", "Usuario", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "divUsuario",
                    InsertionMode = InsertionMode.Replace
                }, new { @id = "frmFiltrado" }))
{

    @Html.Label("Ingrese nombre de la persona")
    @Html.TextBox("nombrePersona", null, new { @class = "form-control" })

    <!--En esta parte mostramos la vista Parcial-->
    <div id="divUsuario">
        @Html.Partial("_TablaUsuario", Model) <!--Enviamos el modelo a la vista parcial-->
    </div>
}

<!-- Modal - Boostrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Usuario", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
            }))
            {
                @*Para enviar esta informacion al controlador*@
                @Html.Hidden("titulo") //Vamos a asignar el valor 1 con JS
                @Html.Hidden("nombrePersona")
                @*@Html.TextBox("titulo")*@
                @*@Html.TextBox("nombrePersona")*@
                <div class="modal-body">
                    <div>
                        @Html.Label("Id Usuario")
                        @Html.TextBox("iidusuario", null, new { @class = "form-control", @readOnly = true })
                    </div>
                    <div>
                        @Html.Label("Nombre Usuario")
                        @Html.TextBox("nombreusuario", null, new { @class = "form-control" })
                    </div>
                    <div id="divContraOcultar">
                        @Html.Label("Contraseña")
                        @Html.Password("contra", null, new { @class = "form-control" })
                    </div>
                    <div id="divUsuarioOcultar">
                        @Html.Label("Nombre Persona")
                        @Html.DropDownList("iid", listaPersona, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Nombre Rol")
                        @Html.DropDownList("iidrol", listaRol, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            }
        </div>
    </div>
</div>

<script>

    function Agregar() {
        document.getElementById("titulo").value = "1";
        //document.getElementById("divContraOcultar").style.display = "block";
        //document.getElementById("divUsuarioOcultar").style.display = "block";
    }

    var iid = document.getElementById("iid");
    iid.onchange = function () { //Cada vez que haya un cambio
        //Mando el texto de la opcion seleccionada por el usuario al Hidden "nombrePersona"
        document.getElementById("nombrePersona").value = iid.options[iid.selectedIndex].text;
    }

    function Guardar(rpta) {

        if (rpta != 0) {
            alert("Se ejecuto correctamente");
            document.getElementById("btnCerrar").click();
        } else {
            alert("Ocurrio un error");
        }
    }

    //Para el Filtrado por Nombre
    var nombrePersona = document.getElementById("nombrePersona");
    nombrePersona.onkeyup = function () { //Cuando toca una tecla
        $("#frmFiltrado").trigger("submit"); //Envio el formulario
    }

</script>